
# Visual Studio Cache files
*.cache/**
# Jupyter metadata files
*.config/**
*.ipython/**
*.jupyter/**
*.local/**
*.npm/**
**/.ipynb_checkpoints/**
# Bash files
.bash_history
# Dev containers files
*.ssh/**
*.vscode-server/**
*.dotnet/**
# Ignore items in data folder
data/**
# Python install files
**/__pycache__/**
**/*.egg-info/**
**/build/**
**/dist/**
**/*.egg/**
# Memory profiler files
core
mprofile_*
# Ignore items in tmp folder
tmp/**
# Ignore items in notebooks folder
notebooks/**
# Environments
**/.env/**
# Ruff stuff:
**/.ruff_cache/**
# Test notebooks ignore for now
WP1.3/**
# Config file
**/cfg.yaml
# Tiles
**/water_quality_regions.parquet

