# Use conda packages where possible;
# pip only for packages not available via conda
odc-stats>=1.9.6
git+https://github.com/opendatacube/odc-loader.git@7cf11257766783d63a10a524f5c1a59e70960f22
deafrica-tools
